[Unit]
Description=Refresh any-watch Namecheap Dynamic DNS

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=1min
Persistent=true
Unit=any-watch-ddns.service

[Install]
WantedBy=timers.target
