[Unit]
Description=Refresh any-watch Cloudflare Dynamic DNS

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=1min
Persistent=true
Unit=any-watch-cloudflare-ddns.service

[Install]
WantedBy=timers.target
